Do you think the start of the response
in the following text is {{concept_adjective}} or {{neg_concept_adjective}}?
Output only the word "{{concept_adjective}}" for {{concept_adjective}},
or "{{neg_concept_adjective}}" for {{neg_concept_adjective}}. Here is the text: