Do you think the start of the response
in the following text is {{concept_adjective}} or {{neg_concept_adjective}}?
Output only the number 1 for {{concept_adjective}},
or 0 for {{neg_concept_adjective}}. Here is the text: